.home {
  background-color: #111315;
  color: white;
  font-size: 1.3rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.main {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

form {
  display: flex;
  flex-direction: column;
  align-items: end;
}

textarea {
  background-color: #29262c;
  border: 0;
  color: white;
  font-size: 1.2rem;
}

form textarea, form input{
  margin-bottom: 0.8rem;
}

input[type="submit"] {
  width: 100px;
  height: 50px;
  border: 0;
  border-radius: 5%;
  color: white;
  background-color: #305768;
  cursor: pointer;
}

.post-creator div img {
  width: 10%;
}

.menu {
  border-right: 1px solid white;
}

.idk {
  border-left: 1px solid white;
}

.post-creator {
  border-bottom: 1px solid white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.posts {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.post-container {
  width: 650px;
  border: 1px solid white;
  margin: 5% 20%;
  padding: 5%;
  height: fit-content;
  overflow-wrap: break-word;
}
