.post-interaction {
	border-top: 1px solid white;
	padding: 0 2rem;
	padding-top: 1rem;
	display: flex;
	flex-direction: row;
	gap: 1rem;
	img {
		width: 44px;
		cursor: pointer;
	}
	button {
		background-color: transparent;
	}
}
