.posts {
	width: 100%;
	height: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	.post-container div {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.post-container {
		width: 650px;
		border: 1px solid white;
		margin: 1rem 4rem;
		height: fit-content;
		overflow-wrap: break-word;
		display: flex;
		flex-direction: column;
		align-content: space-between;
		padding: 0.3rem;
	}
	.post-container img {
		height: 55;
		width: 55;
	}
	.top {
		margin-bottom: 1.2rem;
		width: 100%;
		font-size: 1.4rem;
	}
	.top img {
		margin-right: 0.3rem;
	}
	.top div {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
}
